body{
    text-align: center;
    background-color: linear-gradient( #E1BEE7 0%,#90CAF9 100%);
    background-repeat: no-repeat;
}
h1{
    text-shadow: 2px 2px #F8BBDO;
    font-size: 20px;
} 
p{
    padding: 20px;
    font-size: 18;
    text-align: center;
}
img{
    border-radius: 50%;
    width: 100px;
}
.links {
    float: left;
    color: antiquewhite;
    padding-top: 5px;
    padding-left: 9px;
    padding-bottom: 5px;
    padding-right: 9px;
    font-family: fantasy;
    font-size: 20px;
}
.links:hover{
    background-color: blue;
}